
{% capture items %}
{% if page.collection == 'topics' %}
TOPIC DISCUSSION
{% else %}
<a href="">TOPIC DISCUSSION</a>
{% endif %} -
 {% if page.collection == 'sessions' %}
SESSION MATERIAL
{% else %}
<a href="session/">SESSION MATERIAL</a>
{% endif %} -
 {% if page.collection == 'practice' %}
IN-DEPTH EXERCISE
{% else %}
<a href="practice/">IN-DEPTH EXERCISE</a>
{% endif %} -
 {% if page.collection == 'projects' %}
GUIDED PROJECT WORK
{% else %}
<a href="project/">GUIDED PROJECT WORK</a>
{% endif %}
{% endcapture %}
<div class="topnav">
{{ items | strip_newlines }}
</div>
